/* Reset de margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin-top: 10px;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#animais {
    text-align: center;
    padding: 40px;
    background-color: #fff;
}

.animal-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.animal-card {
    background-color: #e1e1e1;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.animal-card img {
    max-width: 100px;
    border-radius: 50%;
}

.animal-card:hover {
    transform: scale(1.1);
}

#sobre, #contato {
    padding: 40px;
    background-color: #fff;
    margin-top: 20px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #39cc40;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #45a049;
}

footer {
    background-color: #10e650;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}